<div class="input-group">
  <input
    #title
    (keydown.enter)="addPost(title)"
    type="text"
    class="form-control"
    placeholder="Add a new post"
    aria-label="post title"
  />
  <div class="input-group-append">
    <button
      class="btn btn-outline-secondary"
      type="button"
      #title
      (click)="addPost(title)"
    >
      Add
    </button>
  </div>
</div>
<div>
  <ul class="list-group">
    <li
      *ngFor="let post of posts"
      class="list-group-item"
      [class.active]="post.isRead"
    >
      {{ post.title }}
      <button class="btn btn-success m-1" (click)="updatePost(post)">
        Update
      </button>
      <button class="btn btn-danger m-1" (click)="deletePost(post)">
        Delete
      </button>
    </li>
  </ul>
</div>
